const env = {
  database: 'example',
  username: 'example',
  password: 'example',
  host: 'example',
  dialect: 'example',
  pool: {
    max: example,
    min: example,
    acquire: example,
    idle: example
  }
};

return module.exports = env;
