const env = {
  database: 'example',
  username: 'example',
  password: 'example',
  host: 'example',
  dialect: 'example',
  pool: {
    max: example, // 5
    min: example, // 1
    acquire: example, //  30000
    idle: example // 10000
  }
};

return module.exports = env;
